parameters:
  level: max
  autoload_files:
    - ../vendor/autoload.php
  paths:
    - ../src
    - ../types-checker
  checkGenericClassInNonGenericObjectType: false

includes:
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
