name: CI

on:
  pull_request: ~
  push:
    branches:
      - 'master'

jobs:
  analyse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: composer update --no-progress --no-suggest

      - name: Analyse
        run: composer analyse

  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        php-version: ['7.3', '7.4']
        include:
          - os: ubuntu-latest
            php-version: '7.2'
          - os: ubuntu-latest
            php-version: '7.2'
            composer_flags: '--prefer-lowest'
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov

      - name: Get composer cache directory
        id: composer-cache
        run: echo '::set-output name=dir::$(composer config cache-files-dir)'

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-

      - name: Install dependencies
        run: composer update --no-progress --no-suggest ${{ matrix.composer_flags }}

      - name: Test
        run: composer test
